.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  padding: 10px;
  background: rebeccapurple;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

form:hover {
  /* transform: rotate(180deg); */
  border: 1px solid grey;
}

form > .myInput {
  margin: 10px 0;
  border: 2px solid grey;
  padding: 1px;
  font-size: 20px;
  width: 80%;
}

.myBtn {
  width: 90%;
  height: 40px;
  background-color: rgb(255, 6, 143);
  margin: 20px 10px;
  font-size: 20px;
  font-family: "Zhi Mang Xing", cursive;
  border-radius: 50%;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 255, 255);
}
